body{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    background-color: white;
    margin: 0px;
}
div {
    border: 1px;
}
.infoPanel {
    position: fixed;
    height: 6em;
    width: 100%;
    background-color: white;
    text-align: center;
}

.playlistPanel{
    background-color: palegoldenrod;
    padding-top: 7em;
}
.musicLibraryPanel{
    width: 100%;
    padding-top: 1em;
}
.playlistSong{
    font-size: 24px;
}
.currentTrack{
    color: orange;
    font-size: 24px;
}
.pastTrack{
    color: peachpuff;
    font-size: 16px;
}
.futureTrack{
    color: darkorange;
    font-size: 20px;
}

.artist {
    background-color: #f0f0f0;
}
.album {
    background-color: #e8e8e8;
    padding-left: 16px;
}
.song {
    background-color: #e0e0e0;
    padding-left: 16px;
}
.playing {
}
.volumeUpDown {
}
.playerButton{
    stroke-width: 2;
    stroke: orange;
    fill: none;
    Xborder: 1px solid;
}
.playButton {
}
.pauseButton {
}
.stopButton {
}
.nextButton {
}
.previousButton {
}
.trackLength {
}
.elapsedTime {
}
.volumeBarFilled {
    fill: teal;
}
.volumeBarUnfilled {
    fill: gray;
}
.trackTimeBarFilled{
    fill: orange;
}
.trackTimeBarUnfilled{
    fill: gray;
}
